.list-restaurants2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.item2 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}

.item2 a:hover {
    box-shadow: 5px 8px 5px 0 rgba(0, 0, 0, 0.8);
}

.item-content2 {
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    background-color: #eaeaea;
}

.img-res2 {
    width: 400px;
    height: 200px;
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    background: #eaeaea;
}

.img-res2 img {
    position: relative;
    top: -20px;
    width: 100%;
    height: auto;
}

.info-res2 {
    height: 200px;
    margin: 5px;
    border-radius: 0 0 6px 6px;
    padding-left: 20px;
}

.info-res2 p {
    margin: 3px 5px;
}

.name-res2 {
    margin: 3px 5px 10px 5px;
    font-size: 25px;
    font-weight: 700;
    color: #252525;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.address-res {
    font-size: 13px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.promo-res2 {
    font-size: 15px;
    font-weight: 700;
    color: #187caa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}